@use 'variables' as v;
@use './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: v.$color-primary;
  font-family: 'Lato', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 20px auto 30px auto;

  &::after {
    content: url(/images/dots-for-bg.svg);
    position: absolute;
    top: 6px;
    right: 0;
    z-index: -1;
  }

  @media screen and (min-width: v.$width-xl) {
    margin: 50px auto 82px auto;
  }
}

.main {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  &::after {
    content: url(/images/arrows-for-bg.svg);
    position: absolute;
    top: 890px;
    right: 72px;
    z-index: -1;
  }

  &::before {
    content: url(/images/semicircle-for-bg.svg);
    position: absolute;
    top: 467px;
    left: 55px;
    z-index: -1;
  }
}

.container {
  width: 100%;
  max-width: 1233px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: v.$width-md) {
    padding: 0 20px;
  }

  @media screen and (min-width: v.$width-xl) {
    padding: 0;
  }
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto 0 auto;

  @media screen and (min-width: v.$width-xl) {
    width: 392px;
    height: 92px;
    margin: 0 445px 0 393px;
  }
}

.title {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 130%;
  color: v.$color-primary;

  @media screen and (min-width: v.$width-lg) {
    font-size: 46px;
  }
}

.subtitle {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: fit-content;
  text-align: center;
  margin: 0 auto 8px auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media screen and (min-width: v.$width-lg) {
    font-size: 16px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.filter-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 40px;

  @media screen and (min-width: v.$width-lg) {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 62px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 6px;

  @media screen and (min-width: v.$width-xl) {
    justify-content: space-between;
    gap: 0;
    width: 814px;
    height: 46px;
  }
}

.filter__item {
  height: 100%;
  padding: 7px 10px;
  color: v.$color-tertiary;
  list-style: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

  &.active {
    color: v.$color-accent;
    border: 1px solid v.$color-accent;
  }

  @media screen and (min-width: v.$width-lg) {
    padding: 10px 20px;
  }
}

.filter__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;

  @media screen and (min-width: v.$width-lg) {
    font-size: 16px;
  }
}

.filter__counter {
  position: relative;
  top: -10px;
  font-weight: 900;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
}

.search-form {
  position: relative;
  width: 315px;
  height: 44px;
  margin-top: 3px;
}

.search-form__input {
  width: 100%;
  height: 100%;
  padding: 11px 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  border: 1px solid v.$color-gray;
  border-radius: 4px;
}

.search-form__input::-webkit-input-placeholder {
  color: v.$color-tertiary;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.search-form__input::-moz-placeholder {
  color: v.$color-tertiary;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.search-form__input:-ms-input-placeholder {
  color: v.$color-tertiary;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.search-form__input::-ms-input-placeholder {
  color: v.$color-tertiary;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.search-form__input::placeholder {
  color: v.$color-tertiary;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.search-form__button {
  position: absolute;
  top: 1px;
  right: -12px;
  width: 44px;
  height: 44px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.search-form__image {
  width: 16px;
  height: 16px;
}

.courses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 50px;
  list-style: none;

  @media screen and (min-width: v.$width-lg) {
    margin-bottom: 80px;
  }
}

.course {
  width: 100%;
  max-width: 390px;
  height: 440px;
  min-height: fit-content;
  background-color: v.$color-white;
  border: 1px solid v.$color-gray-2;
  border-radius: 4px;
  -webkit-box-shadow: v.$box-shadow;
  box-shadow: v.$box-shadow;
  opacity: 0;
  -webkit-animation: fadeCard 1s ease-in-out forwards;
  animation: fadeCard 1s ease-in-out forwards;

  @media screen and (min-width: v.$width-md) {
    width: 300px;
    height: 385px;
  }

  @media screen and (min-width: v.$width-lg) {
    width: 390px;
    height: 438px;
  }
}

@-webkit-keyframes fadeCard {
  to {
    opacity: 1;
  }
}

@keyframes fadeCard {
  to {
    opacity: 1;
  }
}

.course__image {
  @media screen and (min-width: v.$width-xl) {
    width: 390px;
    height: 240px;
  }
}

.course__info-block {
  padding: 24px;
}

.course__badge {
  display: block;
  width: fit-content;
  height: 23px;
  margin-bottom: 20px;
  padding: 1px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  color: v.$color-white;
  border-radius: 4px;
}

.course__title {
  margin: 0 auto 20px auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;

  @media screen and (min-width: v.$width-md) {
    font-size: 18px;
  }

  @media screen and (min-width: v.$width-lg) {
    font-size: 20px;
  }
}

.course__info {
  font-size: 18px;
  line-height: 150%;
}

.course__price {
  color: v.$color-accent;
  font-weight: 700;

  &:after {
    content: url('/images/divider.svg');
    padding: 5.5px 4px 5.5px 8px;
    vertical-align: middle;
  }
}

.course__author {
  color: v.$color-secondary;
  font-weight: 400;
}

.load-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 116px;
  margin: 0 auto 86px auto;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
  vertical-align: middle;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.load-more__image {
  width: 24px;
  height: 24px;
}
