$width-md: 768px;
$width-lg: 1280px;
$width-xl: 1920px;

$color-primary: #1E212C;
$color-secondary: #787A80;
$color-tertiary: #9A9CA5;
$color-gray: #D7DADD;
$color-gray-2: #E5E8ED;
$color-accent: #F52F6E;
$color-white: #FFFFFF;
$color-black: #000000;

$box-shadow: 0 4px 4px -4px #1E212C08,
0 12px 10px -6px #9A9CA50A,
0 30px 24px -10px #9A9CA50D,
0 80px 80px -20px #9A9CA514;